DATABASE_URL="postgresql://postgres:YOUR_SUPABASE_DB_PASSWORD@db.drreszqzpifilbqmnvtb.supabase.co:5432/postgres?schema=public"
DIRECT_URL="postgresql://postgres:YOUR_SUPABASE_DB_PASSWORD@db.drreszqzpifilbqmnvtb.supabase.co:5432/postgres?schema=public"
SUPABASE_URL="https://drreszqzpifilbqmnvtb.supabase.co"
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
JWT_SECRET="change-me"
JWT_REFRESH_SECRET="change-me-too"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
RESEND_API_KEY=""
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
QUIET_STARTUP_LOGS="true"
PORT="4000"
